* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI",
    "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#home {
  height: 100vh;
}

#home-img {
  position: fixed;
  z-index: -999;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Bali.png");
}

#about,
#portfolio,
#contact,
#friend,
#cc {
  height: 100vh;
  background: rgb(30, 30, 30);
}

.abo1 {
  text-decoration: none;
  color: white;
}

.wabpage {
  align-items: center;
  display: flex;
}

#title,
#title2 {
  text-align: center;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.hea1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 10px;
}

.hea1 a {
  text-decoration: none;
  color: white;
}

footer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#instagram {
  text-decoration: none;
  color: rgb(209, 1, 219);
}

#facebook {
  text-decoration: none;
  color: rgb(19, 156, 247);
}

#Youtube {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

#Line {
  text-decoration: none;
  color: rgb(0, 255, 0);
}

#Discord {
  text-decoration: none;
  color: rgb(88, 101, 242);
}

#Yun a,
#sao-x a,
#Joseph a {
  text-decoration: none;
  color: white;
}

#foo1,
#foo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#foo2 {
  color: #f30707;
}

svg {
  width: 50px;
  height: 50px;
}

img {
  width: 90px;
  height: 90px;
}



/* 適用於手機裝置的媒體查詢 */
@media only screen and (max-width: 600px) {
  #header {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .hea1 {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  #home-img {
    position: relative;
    height: 50vh;
  }

  #about,
  #portfolio,
  #contact,
  #friend,
  #cc {
    height: auto;
    padding-top: 80px; /* 調整視需要的數值 */
  }

  h1 {
    font-size: 1.5rem; /* 調整字型大小以提高在手機上的可讀性 */
  }

  #foo1, #foo2 {
    flex-direction: column;
    text-align: center;
  }

  svg {
    max-width: 100%; /* 讓 SVG 圖示自適應寬度 */
    height: auto;
  }

  img {
    max-width: 100%; /* 讓圖片自適應寬度 */
    height: auto;
  }
}

/* 處理手機橫屏的情況 */
@media only screen and (max-device-width: 600px) and (orientation: landscape) {
  #header {
    height: 60px; /* 調整橫屏時的 header 高度 */
  }

  .hea1 {
    padding: 5px; /* 調整橫屏時的 padding */
  }
}

